html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

body {
  margin: 0;
}

.banner-body {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-left: 1em;
  width: 100%;
  max-width: 45rem;
  transform: translateX(-50%);
}

.title {
  display: inline;
  font-size: 4rem;
  line-height: 1.4;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}
